# Ignore the following files
*.kdev4
*.directory
*.bak
*thumbs.db
dist
node_modules
/.vscode/
CMakeLists.txt.user*
.cmake/
/.clang-format
/compile_commands.json
build/
xmlerrors
.clangd
.idea
/cmake-build*
.cache
#index.theme is currently generated in the source dir
icons/index.theme
icons-dark/index.theme
